.update-profile-content {
  margin: 0 auto;
}

#firstName,
#lastName {
  margin-right: 18px;
  width: 220px;
  height: 34px;
  font-weight: bold;
  padding-left: 20px;
}

#save,
#cancel {
  margin-right: 18px;
  margin-top: 16px;
  border-radius: 0;
  width: 150px;
  height: 30px;
  font-weight: bold;
}

.title-update {
  margin-bottom: 1rem;
  font-size: 32px;
}

.input-wrapper small {
  position: absolute;
  top: 3.5rem;
  color: #ff6060;
}

.input-alert {
  height: 3rem;
  margin: 0 auto;
  background: #ff6060;
  width: 300px;
}

.input-alert--msg {
  line-height: 3rem;
  color: white;
}
